<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>iStyle | Home of Beauty | Create Account</title>
    <meta name="description" content="">
    <script src="../../static/scripts/jquery.min.js"></script>
    <script src="../../static/scripts/main.js"></script>
    <link rel="stylesheet" href="../../static/css/bootstrap-grid.css">
    <link rel="stylesheet" href="../../static/css/style.css">
    <link rel="stylesheet" href="../../static/css/glide.css">
    <link rel="stylesheet" href="../../static/css/magnific-popup.css">
    <link rel="stylesheet" href="../../static/css/content-box.css">
    <link rel="stylesheet" href="../../static/css/contact-form.css">
    <link rel="stylesheet" href="../../static/css/media-box.css">
    <link rel="stylesheet" href="../../static/css/social.css">
    <link rel="stylesheet" href="../../static/css/style2.css">
    <link rel="icon" href="../../static/media/logos/favicon.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div id="preloader"></div>
    <!--MENU-->
    <nav class="menu-classic menu-fixed menu-transparent menu-one-page align-right" data-menu-anima="fade-bottom" data-scroll-detect="true">
        <div class="container">
            <div class="menu-brand">
                <a href="#">
                    <img class="logo-default" src="../../static/media/logos/anime1.png" alt="logo" />
                    <img class="logo-retina" src="../../static/media/logos/anime1.png" alt="logo" />
                </a>
            </div>
            <i class="menu-btn"></i>
            <div class="menu-cnt">
                
                <div class="menu-right">
                    <div class="menu-custom-area">
                        <a href="{{url_for('auth.forgot_password')}}" class="btn btn-xs" href="#" style="background-color: #9b9bff; color: #fff;">Reset Password</a>
                        <a href="{{url_for('auth.signin')}}" class="btn btn-xs" href="#" style="background-color: rgb(22 123 171)">Sign In</a>
                    </div>
                </div>
                <div class="clear"></div>
                <div>
                    {% with messages = get_flashed_messages(with_categories=True) %}
                    {% if messages %}
                        {% for category, message in messages %}
                            <div style="text-align: center;" class="alert alert-{{ category }}"> 
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endif %}
                    {% endwith %}
                </div>
            </div>
        </div>
    </nav>
    <main>
        <section class="section-base section-color no-padding-bottom section-top-overflow" style="padding-top: 5%;">
            <div class="container">
                <hr class="space" />
                <div class="row">
                   
                    <div class="col-lg-5" style="margin: 0 auto;">
                        <div class="cnt-box cnt-box-testimonials-bubble rating-4">
                            <div class="boxed-area">
                                <img src="../../static/media/logos/iStyle2.png" height="100px" width="auto"/>
                            <div style="line-height: 2.0em;">
                                <h2>Get Started,</h2>
                                <small>Register to enjoy iStyle Services</small>
                            </div>
                            
                            <form action="" class="form-box form-ajax" method="post" data-email="example@domain.com">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <label><small><b>Enter your details</b></small></label>
                                        <input id="name" name="name" placeholder="Enter your name" type="text" class="input-text" required>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-12">
                                 
                                        <input id="email" name="email" placeholder="Enter your email address" type="email" class="input-text" required>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-12">
                                     
                                        <input id="password" name="password" placeholder="Enter your password" type="password" class="input-text" required>
                                    </div>
                                </div>
                                
                                <div class="form-checkbox">
                                    <input type="checkbox" id="check" name="check" value="check" required>
                                    <label for="check" style="font-size: 10px;">Agree to iStyle's Terms of Use and acknowledge you have read the Privacy Policy.</label>
                                </div>
                                <button class="btn btn-xs" type="submit" id="login" style="width: 100%;">Register</button>
                               
                                    <!--Social Media LOGIN-->

                                    <p style="text-align:center">or</p>
                                    <a href="#" class="btn btn-xs" id="Google"><i class="fa fa-google" id="icon"></i> Sign up with Google</a>
                                       <!--End-->
                            </form>
                            <a href="{{url_for('index')}}" style="text-decoration: none; font-size: 10px;"> <<< Back to Website</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        
    </main>
    <i class="scroll-top-btn scroll-top show"></i>
    <footer class="footer-parallax light">
    
        <div class="footer-bar">
            <div class="container">
                <span>© ISTYLE 2020. Your One-Stop Beauty Online Outlet built by <a target="_blank" href="#">iStyle Team</span>
       
            </div>
        </div>
        <link rel="stylesheet" href="../../static/media/icons/iconsmind/line-icons.min.css">
         <script src="../../static/scripts/tab-accordion.js"></script>
        <!-- <script src="../../static/scripts/contact-form/contact-form.js"></script> -->
        <script src="../../static/scripts/magnific-popup.min.js"></script>
        <script src="../../static/scripts/custom2.js"></script>
    </footer> -->
</body>
</html>