<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>iStyle | Home of Beauty | Forgot Password</title>
    <meta name="description" content="">
    <script src="../../static/scripts/jquery.min.js"></script>
    <script src="../../static/scripts/main.js"></script>
    <link rel="stylesheet" href="../../static/css/bootstrap-grid.css">
    <link rel="stylesheet" href="../../static/css/style.css">
    <link rel="stylesheet" href="../../static/css/glide.css">
    <link rel="stylesheet" href="../../static/css/magnific-popup.css">
    <link rel="stylesheet" href="../../static/css/content-box.css">
    <link rel="stylesheet" href="../../static/css/contact-form.css">
    <link rel="stylesheet" href="../../static/css/media-box.css">
    <link rel="stylesheet" href="../../static/css/social.css">
    <link rel="stylesheet" href="../../static/css/style2.css">
    <link rel="icon" href="../../static/media/logos/favicon.png">
</head>
<body>
    <div id="preloader"></div>
    <nav class="menu-classic menu-fixed menu-transparent menu-one-page align-right" data-menu-anima="fade-bottom" data-scroll-detect="true">
        <div class="container">
            <div class="menu-brand">
                <a href="#">
                    <img class="logo-default" src="../../static/media/logos/anime1.png" alt="logo" />
                    <img class="logo-retina" src="../../static/media/logos/anime1.png" alt="logo" />
                </a>
            </div>
            <i class="menu-btn"></i>
            <div class="menu-cnt">
                
                <div class="clear"></div>
            </div>
        </div>
    </nav>
    <main>
        
        <section class="section-base section-color no-padding-bottom section-top-overflow" style="padding-top: 5%;">
            <div class="container">
                <hr class="space" />
                <div class="row">
                   
                    <div class="col-lg-5" style="margin: 0 auto;">
                        <div class="cnt-box cnt-box-testimonials-bubble rating-4">
                            <div class="boxed-area">
                                <img src="../../static/media/logos/iStyle2.png" height="100px" width="auto"/>
                                <div style="line-height: 2.0em;">
                                    <h2>Hello {{user.name}}</h2>
                                    <p>Someone requested to change your password</p>
                                    <p>Click <a href="{{url_for('auth.reset_password', token=token)}}">here</a> to reset it</p>
                                    <p>Ignore this Mail if this wasn't you!</p>
                                </div>
                            
                                <a href="{{url_for('dashboard.index', _external=True)}}" style="text-decoration: none; font-size: 10px;"> <<< Back to Website</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        
    </main>
    <i class="scroll-top-btn scroll-top show"></i>
    <footer class="footer-parallax light">
        <div class="container">
           
        </div>
        <div class="footer-bar">
            <div class="container">
                <span>© ISTYLE 2020. Your One-Stop Beauty Online Outlet built by <a target="_blank" href="#">iStyle Team</span>
       
            </div>
        </div>
        <link rel="stylesheet" href="../../static/media/icons/iconsmind/line-icons.min.css">
        <!-- <script src="../../static/scripts/tab-accordion.js"></script>
        <script src="../../static/scripts/contact-form/contact-form.js"></script>
        <script src="../../static/scripts/magnific-popup.min.js"></script>
        <script src="../../static/scripts/custom2.js"></script> -->
    </footer>
</body>
</html>