<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>iStyle | Home of Beauty | Home</title>
    <meta name="description" content="">
    <script src="../static/scripts/jquery.min.js"></script>
    <script src="../static/scripts/main.js"></script>
    <link rel="stylesheet" href="../static/css/bootstrap-grid.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/glide.css">
    <link rel="stylesheet" href="../static/css/magnific-popup.css">
    <link rel="stylesheet" href="../static/css/content-box.css">
    <link rel="stylesheet" href="../static/css/contact-form.css">
    <link rel="stylesheet" href="../static/css/media-box.css">
    <link rel="stylesheet" href="../static/css/social.css">
    <link rel="stylesheet" href="../static/css/style2.css">
    <link rel="icon" href="../static/media/logos/favicon.png">
</head>
<body>
    <div id="preloader"></div>
    <!--ISTYLE MENU-->
    <nav class="menu-classic menu-fixed menu-transparent menu-one-page align-right" data-menu-anima="fade-bottom" data-scroll-detect="true">
        <div class="container">
            <div class="menu-brand">
                <a href="#">
                    <img class="logo-default" src="../static/media/logos/anime1.png" alt="logo" />
                    <img class="logo-retina" src="../static/media/logos/anime1.png" alt="logo" />
                </a>
            </div>
            <i class="menu-btn"></i>
            <div class="menu-cnt">
                <ul>
                    <li>
                        <a href="iStyle.html">Home</a>
                    </li>
                    <li>
                        <a href="#">About Us</a>
                    </li>
                    <li>
                        <a href="#">Services</a>
                    </li>
                    <li>
                        <a href="#">Contact</a>
                    </li>
                   
                  
                </ul>
                <div class="menu-right">
                    <div class="menu-custom-area">
                        <a href="{{url_for('auth.signin')}}" class="btn btn-xs" href="#" style="background-color: #9b9bff">Login</a>
                        <a href="{{url_for('auth.signup')}}" class="btn btn-xs" href="#" style="background-color: rgb(22 123 171)">Get Started</a>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </nav>
    <main>
        <!--HOME PAGE-->
        <section class="section-base section-full-width-right">
            <div class="container">
                <hr class="space" />
                <div class="row">
                    <div class="col-lg-6" data-anima="fade-left" data-time="1000">
                        <hr class="space-lg hidden-md" />
                        <ul class="slider controls-top-left" data-options="arrows:false,nav:true,controls:out">
                            <li>
                                <h1>
                                    Welcome to I-Style
                                </h1>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboriso.
                                </p>
                                <a href="{{url_for('auth.signup')}}" class="btn btn-sm btn full-width-sm">Explore</a><span class="space-sm"></span>
                            </li>
                           
                        </ul>
                        <hr class="space-xs" />
                    </div>
                    <div class="col-lg-6">
                        <hr class="space visible-md" />
                        <img class="" src="../static/media/logos/anime.png" alt="" />
                    </div>
                </div>
            </div>
        </section>
        <!--BRAND NAME [AFFLIATES] BARBING COMB COMPANY, CREAM COMPANY LOGO AND ALL-->
        <section id="overview" class="section-base">
            <div class="container">
                <ul class="slider" data-options="type:carousel,arrows:false,nav:false,perView:5,perViewMd:3,perViewXs:2,gap:80">
                    <li>
                        <img src="../static/media/logos/logo-7.png" alt="" />
                    </li>
                    <li>
                        <img src="../static/media/logos/logo-6.png" alt="" />
                    </li>
                    <li>
                        <img src="../static/media/logos/logo-4.png" alt="" />
                    </li>
                    <li>
                        <img src="../static/media/logos/logo-1.png" alt="" />
                    </li>
                    <li>
                        <img src="../static/media/logos/logo-5.png" alt="" />
                    </li>
                    <li>
                        <img src="../static/media/logos/logo-3.png" alt="" />
                    </li>
                </ul>
                <!--WHAT ISTYLE DO PAGE-->
                <hr class="space-lg" />
                <h2 class="align-center width-650">What do iStyle Offer</h2>
               
                <div class="row align-items-center">
                  
                    <div class="col-lg-6 col-md-6" data-anima="fade-left" data-time="1000">
                        <p>
                            <ol>
                                <li><b>Lorem ipsum dolor</b>
                                <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco sea takimata sanctus eslaboriso</p></li>
                                <li><b>Lorem ipsum dolor</b>
                                    <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco sea takimata sanctus eslaboriso</p></li>
                                    <li><b>Lorem ipsum dolor</b>
                                        <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco sea takimata sanctus eslaboriso</p></li>
                              </ol> 
                        </p>
                        <a href="#" class="btn-text">Read More</a>
                    </div>
                    <div class="col-lg-6 col-md-6" data-anima="fade-right" data-time="1000">
                        <img src="../static/media/logos/phone-10.png" alt="" />
                    </div>
                </div>
                
                <!--WHY CHOOSE ISTYLE-->
                <hr class="space" />
                <div class="row align-items-center">
                    <div class="col-lg-6 col-md-6" data-anima="fade-right" data-time="1000">
                        <img src="../static/media/logos/phone-10.png" alt="" />
                    </div>
                    <div class="col-lg-6 col-md-6" data-anima="fade-left" data-time="1000">
                        <h2>Why Choose iStyle?</h2>
                        <p>
                            Lorem ipsum dolor sit ametno sea takimata sanctus est Lorem ipsum dolor sit amete.
                            Ut enim ad minim veniam, quis nostrud exercitation ullamco sea takimata sanctus eslaboriso.
                            Aipsum dolor sito.quis nostrud exercitation ullamco sea takimata sanctus eslaboriso.
                            Aipsum dolor sito.
                        </p>
                        <a href="#" class="btn-text">Know About Us</a>
                    </div>
                   
                </div>
            </div>
        </section>
        
        <!--ISTYLE APP COMING SOON, ADVERT PAGE-->
        <section class="section-image align-center light" style="background-image:url(../static/media/logos/bg.svg)">
            <div class="container">
                <h2>iStyle apps coming soon.</h2>
                <p class="width-650">
                    Lorem ipsum dolor sit amet no sea takimata sanctus est Lorem ipsum dolor sit amete
                    sare nostrud exercitation ullamco dolore eu fugiat nulla pariature.
                </p>
                <hr class="space-sm">
                <a class="btn-store" href="#"><img src="../static/media/logos/store-google.png"></a>
                <a class="btn-store" href="#"><img src="../static/media/logos/store-apple.png"></a>
            </div>
        </section>
    
        <!--YOUTUBE VIDEO HERE DONE BY AYOMIPO TO SPEAK ON ISTYLE -->
        
        <section id="about" class="section-base">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <a class="img-box btn-video lightbox shadow-1" data-lightbox-anima="fade-top" href="https://www.youtube.com/watch?v=Lb4IcGF5iTQ">
                            <img src="http://via.placeholder.com/800x480" alt="">
                        </a>
                    </div>
                    <div class="col-lg-6">
                        <hr class="space-sm visible-md" />
                        <h2>Social channel to share <br />Check out benefit of iStyle</h2>
                        <p>
                            Lorem ipsum dolor sit amet no sea takimata sanctus est Lorem ipsum dolor sit amete
                            sare nostrud exercitation ullamco dolore eu fugiat nulla pariature sitame consect sed do eiusmod tempore pardo.
                        </p>
                        <img src="../static/media/logos/sign-dark.png" alt="" />
                    </div>
                </div>
            </div>
        </section>
        <!--FREQUENT QUESTION CUSTOMER NEEDS TO HAVE ANSWER TO-->
        <section class="section-base section-color">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <h2>Just some detail about <br />iStyle (FAQS)</h2>
                        <p>
                            Lorem ipsum dolor sit amet no sea takimata sanctus est Lorem ipsum dolor sit amete
                            sare nostrud exercitation ullamco dolore eu fugiat nulla pariature sitame consect sed do eiusmod tempore pardo.
                            dolore eu fugiat nulla pariature sitame consect sed do eiusmod tempore.
                        </p>
                    </div>
                    <div class="col-lg-6">
                        <ul class="accordion-list">
                            <li>
                                <a href="#">In what state do iStyle currently work?</a>
                                <div class="content">
                                    <p>
                                        Lorem ipsum dolor sit amet consectetur adipiscing elitsed do eiusmod tempor incididunt utlabore et dolore magna aliqua.
                                        Utenim ad minim veniam quis nostrud exercitation ullamco laboris.
                                    </p>
                                </div>
                            </li>
                            <li>
                                <a href="#">
                                    When I book a vendor can I cancel the order in a late time?
                                </a>
                                <div class="content">
                                    <p>
                                        Lorem ipsum dolor sit amet consectetur adipiscing elitsed do eiusmod tempor incididunt utlabore et dolore magna aliqua.
                                        Utenim ad minim veniam quis nostrud exercitation ullamco laboris.
                                    </p>
                                </div>
                            </li>
                            <li>
                                <a href="#">Where can I contact the support team for vendor failure?</a>
                                <div class="content">
                                    <p>
                                        Lorem ipsum dolor sit amet consectetur adipiscing elitsed do eiusmod tempor incididunt utlabore et dolore magna aliqua.
                                        Utenim ad minim veniam quis nostrud exercitation ullamco laboris.
                                    </p>
                                </div>
                            </li>
                            <li>
                                <a href="#">How does the promotional codes work?</a>
                                <div class="content">
                                    <p>
                                        Lorem ipsum dolor sit amet consectetur adipiscing elitsed do eiusmod tempor incididunt utlabore et dolore magna aliqua.
                                        Utenim ad minim veniam quis nostrud exercitation ullamco laboris.
                                    </p>
                                </div>
                            </li>
                            <li>
                                <a href="#">How can I get my past order on the website?</a>
                                <div class="content">
                                    <p>
                                        Lorem ipsum dolor sit amet consectetur adipiscing elitsed do eiusmod tempor incididunt utlabore et dolore magna aliqua.
                                        Utenim ad minim veniam quis nostrud exercitation ullamco laboris.
                                    </p>
                                </div>
                            </li>
                        </ul>
                        <br>
                        <a href="#" class="btn btn-xs" href="#" style="background-color: #9b9bff; width: 20%;">Read More</a>
                    </div>
                </div>
            </div>
        </section>
        <!--OUR TESTIMONIAL PAGE-->
        <section class="section-base">
            <div class="container">
                <ul class="slider" data-options="type:carousel,arrows:true,nav:false,perView:3,perViewSm:2,perViewXs:1,controls:out,gap:30">
                    <li>
                        <div class="cnt-box cnt-box-testimonials rating-5">
                            <img src="http://via.placeholder.com/450x450" alt="" />
                            <p>
                                Lorem ipsum dolor sitamet consectetur adipisicing elito sed do eiusmod tempore.
                            </p>
                            <p class="testimonial-info">
                                <span>Zubair Idris</span>
                                <span>Student, UNILAG</span>
                            </p>
                        </div>
                    </li>
                    <li>
                        <div class="cnt-box cnt-box-testimonials rating-5">
                            <img src="http://via.placeholder.com/450x450" alt="" />
                            <p>
                                Lorem ipsum dolor sitamet consectetur adipisicing elito sed do eiusmod tempore.
                            </p>
                            <p class="testimonial-info">
                                <span>Akosile AbdulQuadri</span>
                                <span>Student, LASU</span>
                            </p>
                        </div>
                    </li>
                    <li>
                        <div class="cnt-box cnt-box-testimonials rating-4">
                            <img src="http://via.placeholder.com/450x450" alt="" />
                            <p>
                                Lorem ipsum dolor sitamet consectetur adipisicing elito sed do eiusmod tempore.
                            </p>
                            <p class="testimonial-info">
                                <span>Olowu Muneerah</span>
                                <span>Student, UNILORIN</span>
                            </p>
                        </div>
                    </li>
                    <li>
                        <div class="cnt-box cnt-box-testimonials rating-5">
                            <img src="http://via.placeholder.com/450x450" alt="" />
                            <p>
                                Lorem ipsum dolor sitamet consectetur adipisicing elito sed do eiusmod tempore.
                            </p>
                            <p class="testimonial-info">
                                <span>Marculay Precious</span>
                                <span>Student, OAU</span>
                            </p>
                        </div>
                    </li>
                </ul>
            </div>
        </section>
     
    </main>
    <!--OUR FOOTER-->
    <i class="scroll-top-btn scroll-top show"></i>
    <footer class="footer-parallax light">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <h4>Company</h4>
                    <div class="menu-inner menu-inner-vertical">
                        <ul>
                            <li>
                                <a href="#">About Us</a>
                            </li>
                            <li>
                                <a href="#">Our Offerings</a>
                            </li>
                            <li>
                                <a href="#">Terms & Conditions</a>
                            </li>
                            <li>
                                <a href="#">Investors</a>
                            </li>
                            <li>
                                <a href="#">Careers</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3">
                    <h4>Our Products</h4>
                    <div class="menu-inner menu-inner-vertical">
                        <ul>
                            <li>
                                <a href="#">Hairdressing</a>
                            </li>
                            <li>
                                <a href="#">Barbing Saloon</a>
                            </li>
                            <li>
                                <a href="#">Pendicure & Manicure</a>
                            </li>
                            <li>
                                <a href="#">Join as a Vendor</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3">
                    <h4>Help and Support</h4>
                    <div class="menu-inner menu-inner-vertical">
                        <ul>
                            <li>
                                <a href="#">Help Centre</a>
                            </li>
                            <li>
                                <a href="#">Feedbacks</a>
                            </li>
                            <li>
                                <a href="#">Request new features</a>
                            </li>
                            <li>
                                <a href="#">Contact us</a>
                            </li>
                        </ul>
                    </div>
                </div>
              
                <div class="col-lg-3">
                    <h4>Social</h4>
                    <div class="menu-inner menu-inner-vertical">
                        <ul>
                            <li>
                                <a href="#">Blog</a>
                            </li>
                            <li>
                                <a href="#">iStyle Youtube</a>
                            </li>
                            <li>
                                <div class="icon-links icon-social icon-links-grid social-colors">
                                    <a class="facebook"><i class="icon-facebook"></i></a> &nbsp;&nbsp;
                                    <a class="twitter"><i class="icon-twitter"></i></a> &nbsp;&nbsp;
                                    <a class="instagram"><i class="icon-instagram"></i></a>
                                </div>
                            </li>
                        </ul>
                    </div>
                  
                </div>
            </div>
        </div>
        <div class="footer-bar">
            <div class="container">
                <span>© ISTYLE 2020. Your One-Stop Beauty Online Outlet built by <a target="_blank" href="#">iStyle Team</span>
       
            </div>
        </div>
        <link rel="stylesheet" href="../static/media/icons/iconsmind/line-icons.min.css">
        <script src="../static/scripts/parallax.min.js"></script>
        <script src="../static/scripts/glide.min.js"></script>
        <script src="../static/scripts/magnific-popup.min.js"></script>
        <script src="../static/scripts/tab-accordion.js"></script>
        <script src="../static/scripts/imagesloaded.min.js"></script>
        <script src="../static/scripts/contact-form/contact-form.js"></script>
        <script src="../static/scripts/progress.js"></script>
        <script src="../static/scripts/pagination.min.js"></script>
        <script src="../static/scripts/social.min.js"></script>
        <script src="../static/scripts/custom2.js"></script>
    </footer>
</body>
</html>